.lead {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  padding: 0 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .lead{
    padding: 0 48px;
  }
}

@media screen and (max-width: 911px) {
  .lead{
    width: 100%;
    max-width: 100vw;
    padding: 0;
  }
}



