.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 48px;
  max-width: 1280px;
  width: 100%;
}

@media screen and (max-width: 911px) {
  .header{
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header{
    padding: 0 16px;
  }
}
