.lead__image {
  margin: 64px 0 8px;
  max-width: 984px;
  width: 100%;
  box-sizing: border-box;

}

 @media screen and (max-width: 1140px) {
  .lead__image{
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 568px) {
  .lead__image{
    margin: 40px 0 8px;
  }
}

