.lead__subtitle {
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width: 640px) {
  .lead__subtitle{
    font-size: calc(16px + ((30 - 16) * 1.7) * ((100vw - 320px) / 640));
    line-height: 1.25;
    max-width: calc(288px + ((640 - 288) * 1.7) * ((100vw - 320px) / 640));
  }
}
