.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
  padding-bottom: 12px;
}

@media screen and (max-width: 911px) {
  .place__url-heading{
    font-size: 12px;
    line-height: 16px;
  }
}
