.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 1140px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 568px) {
  .place__url-heading{
    padding: 0 16px 12px;
    box-sizing: border-box;
  }
}
